<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron text-center">
      TO DO LIST
    </div>
      <div class="container text-center">
        @RenderBody()
      </div>
  </body>
</html>
