@{
  Layout = "_Layout";
}
<h1>Category:</h1>
<h1>@Model["category"].GetName()</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Task</th>
      <th>Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in @Model["items"])
  {

    <tr>
      <td>@item.GetDescription()</td>
      <td>@item.GetRawDate()</td>
      <td><a href="/items/@item.GetId()/update">EDIT ITEM</a></td>
      <form action="/items/@item.GetId()/delete" method="post">
      <td><button class="button" type="submit">DELETE</button></td>
      </form>
    </tr>
  }
  </tbody>
</table>

<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href='/'>Return To Categories</a></p>
