@{
  Layout = "_Layout";
}


<h1>CATEGORIES</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>View Items</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var category in Model)
  {
    <tr>
      <td>@category.GetName()</td>
      <td><a href="/categories/@category.GetId()">VIEW ITEMS</a></td>
      <form action="/categories/@category.GetId()/delete" method="post">
      <td><button class="button" type="submit">DELETE</button></td>
      </form>
    </tr>
  }
  </tbody>
</table>
<a href="/categories/new">Add New Category</a>
